<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Album</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <div class="d-flex justify-content-center m-2 flex-column">
        <div class="ablum-form">
            <form action="/addAlbum" method="post">
                <div class="form-group">
                    <label for="album-title">Title</label>
                    <input type="text" class="form-control" id="album-title" aria-describedby="emailHelp" placeholder="Enter title" name="title">
                </div>
                <div class="form-group">
                    <label for="album-artist">Artist</label>
                    <input type="text" class="form-control" id="album-artist" aria-describedby="emailHelp" placeholder="Enter artist" name="artist">
                </div>
                <div class="form-group">
                    <label for="album-songCount">Song count</label>
                    <input type="number" class="form-control" id="album-songCount" aria-describedby="emailHelp" placeholder="Enter song count" name="songCount">
                   <small id="album-songCount-help" class="form-text text-muted">Enter the number of count as number</small>
                </div>
                <div class="form-group">
                    <label for="album-secondsLength">Seconds length</label>
                    <input type="number" class="form-control" id="album-secondsLength" aria-describedby="emailHelp" placeholder="Enter seconds length" name="secondsLength">
                    <small id="album-secondsLength-help" class="form-text text-muted">Enter the seconds length as number</small>
                </div>
                <div class="form-group">
                    <label for="album-imageUrl">Image Url</label>
                    <input type="text" class="form-control" id="album-imageUrl" aria-describedby="emailHelp" placeholder="Enter image Url" name="imageUrl">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <div class="album-table-container d-flex justify-content-center">
            <table id="album-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Song count</th>
                    <th>Seconds length</th>
                    <th>Image Url</th>
                </tr>
                </thead>
                <tbody id="album-table-body">
                <tr th:each="album: ${albumList}">
                    <th th:text="${album.id}"></th>
                    <td th:text="${album.title}"></td>
                    <td th:text="${album.artist}"></td>
                    <td th:text="${album.songCount}"></td>
                    <td th:text="${album.secondsLength}"></td>
                    <td th:text="${album.imageUrl}"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
</body>
</html>